services:
  develop:
    image: mcr.microsoft.com/devcontainers/base:noble
    container_name: develop
    hostname: develop
    command: ["/bin/bash", "-c", "tail -f /dev/null"]

    volumes:
      - ./workspace:/home/vscode/workspace  # Source Code Repository
      - shared-fs:/home/vscode/shared       # Shared FileSystem
    networks:
      - container-network

  vespa:
    image: vespaengine/vespa
    container_name: vespa
    hostname: vespa
    ports:
      - "8080:8080"     # Container API / Query API
      - "19071:19071"   # Config Server API

    # ulimits:    # Memory Lock 을 사용해 Swap 으로 인한 성능 저하 방지
    #   memlock:
    #     soft: -1
    #     hard: -1
    #   nofile:
    #     soft: 65536
    #     hard: 65536

    volumes:
      - shared-fs:/opt/vespa/var/shared   # Shared FileSystem
      - vespa-data:/opt/vespa/var         # Vespa Data
    networks:
      - container-network

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:19071/state/v1/health || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 24
      start_period: 120s

networks:
  container-network:
    driver: bridge

volumes:
  shared-fs:
  vespa-data: