services:
  vespa:
    image: vespaengine/vespa
    container_name: vespa
    hostname: vespa
    ports:
      - "8080:8080"     # Container API / Query API
      - "19071:19071"   # Config Server API

    volumes:
      - vespa-data:/opt/vespa/var         # Vespa Data
      - vespa-logs:/opt/vespa/logs        # Vespa Logs
    networks:
      - container-network

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:19071/state/v1/health || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 24
      start_period: 120s

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: api
    hostname: api
    ports:
      - "8081:8081"

    volumes:
      - ./api:/app/api
    networks:
      - container-network

    depends_on:
      vespa:
        condition: service_healthy

networks:
  container-network:
    driver: bridge

volumes:
  vespa-data:
  vespa-logs: